<section class="padding-top-150 padding-bottom-150">
    <div class="container">
        <!-- HEADING -->
        <div class="heading text-left">
            <h3> Porque escoger <span>Ahorro-Presta?</span></h3>
            <hr>
        </div>

        <!-- Row -->
        <div class="row">
            <div class="col-md-5">
                <p class="line-height-26">
                    Vision </br>
                    Ser el mejor aliado y asesor financiero brindando soluciones integrales e innovadoras que transformen la vida de las personas.
                </p>

                <p class="line-height-26">
                    Mision </br>
                    Impulsamos el crecimiento economico de nuestros clientes, entendiendo sus necesidades y brindandoles soluciones 
                    integrales e innovadoras; creamos experiencias memorables que nos permitan consolidar relaciones a largo plazo,
                    apoyados en la meejora continua promoviendo el desarrollo de nuestra Gente, de la comunidad y generando
                    valor para nuestros accionistas.
                </p>
            </div>

            <!-- We Are Good -->
            <div class="col-md-7">
                <ul class="row we-are-good">

                    <!-- CONSTRUCTION -->
                    <li class="col-md-6">
                        <article>
                            <div class="media-left">
                                <div class="icon"><img src="~/images/icon-why-1.png" alt=""></div>
                            </div>
                            <div class="media-body">
                                <h6 class="font-normal margin-bottom-10">Bienes Raices</h6>
                                <p>Mejora tu vivienda invierte en tu futuro</p>
                            </div>
                        </article>
                    </li>

                    <!-- Interior Design -->
                    <li class="col-md-6">
                        <article>
                            <div class="media-left">
                                <div class="icon"><img src="~/images/icon-why-2.png" alt=""></div>
                            </div>
                            <div class="media-body">
                                <h6 class="font-normal margin-bottom-10">SE CREATIVO</h6>
                                <p>No dejes una buena idea de negocio por no tener los fondos necesarios</p>
                            </div>
                        </article>
                    </li>

                    <!-- Consulting -->
                    <li class="col-md-6">
                        <article>
                            <div class="media-left">
                                <div class="icon"><img src="~/images/icon-why-3.png" alt=""></div>
                            </div>
                            <div class="media-body">
                                <h6 class="font-normal margin-bottom-10">ASESORIA</h6>
                                <p>Disfruta de servicios de asesoria financiera</p>
                            </div>
                        </article>
                    </li>

                    <!-- Special Projects -->
                    <li class="col-md-6">
                        <article>
                            <div class="media-left">
                                <div class="icon"><img src="~/images/icon-why-4.png" alt=""></div>
                            </div>
                            <div class="media-body">
                                <h6 class="font-normal margin-bottom-10">TUS PROYECTOS</h6>
                                <p>Permitenos ayudarte a sacar adelante tus futuros proyectos</p>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
