
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Prestamos. <span class="text-muted">No tengas limites.</span></h2>
            <p class="lead">Ofrecemos soluciones de financiamiento para que puedas lograr todas tus metas.</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/Prestamos-img.jpg" height="450" width="500" />

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">CONOCENOS <span class="text-muted">MEJOR.</span></h2>
            <p class="lead">Que nos conzcas es importante para nosotros. Por eso, queremos mostrarte nuestra trayectoria, 
            lo que nos mueve y lo qu enos hace ser una gran Familia Ahorra-Presta</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/Nosotros-img.jpg" height="450" width="500" />

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Cuentas.</h2>
            <p class="lead">Nuestras cuentas estan hechas a tu medida, elige la que mas se ajuste a tus necesidades!.</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/Cuentas-img.jpg" height="450" width="500" />

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
